*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('pexels_image.png');
    background-position: center;
    background-size: cover;
    color: aliceblue; 
}
h1{
    text-align: center;
    font-size: 70px;
    margin-bottom: 30px;
}
.container{
    display: flex;
}
.counter-container{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: transparent;
    border: 2px solid aliceblue;
    border-radius: 10px;
    margin: 0 20px;
    backdrop-filter: blur(15px);
    text-transform: uppercase;
}
.container{
    display: flex;
    font-size: 29px;
    font-weight: 500;    
}